@import "~common/stylus/variable"
@import "~common/stylus/mixin"
.edit
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  //overflow hidden
  .wrapper
    position: relative
    height 100%
    background-color white
    padding-top 50px
    .shopImg
      position relative
      height 50px
      width 50px
      background-color #009c88
      margin 0 auto
      overflow hidden
      img
        width 100px
        position absolute
        left 50%
        top 50%
        transform translate(-50%,-50%)
    .shop
      margin-top $font-size-small-s
      font-size $font-size-large-20
      color rgb(50,50,50)
      text-align center
    .orderMoney
      font-size $font-size-small
      margin-top 40px
      margin-left $font-size-medium-15
    .money
      position: relative
      margin-top 25px
      border1pxBottomLine(rgb(230,230,230))
      .moneyIcon
        color rgb(53,53,53)
        font-size 39px
        margin-left $font-size-medium-15
      .money-input
        font-size $font-size-large
        color rgb(50,50,50)
        outline 0
        margin-left $font-size-large-20
    .payButtonGray
      width:90%
      height 44px
      margin-top 160px
      margin-left auto
      margin-right auto
      background-color rgb(221,221,221)
      text-align center
      line-height 44px
      border-radius 5px
      color white
    .payButton
      width:90%
      height 44px
      margin-top 160px
      margin-left auto
      margin-right auto
      background-color rgb(0,156,136)
      text-align center
      line-height 44px
      border-radius 5px
      color white

